:root{
    font-size: 62.5%;

    --hue:170;
    --bg-color: hsl(calc(var(--hue) + 20), 14%, 97%);
}

html {
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size:1.6rem;

    background-color: var(--bg-color);
}

body .homepage{
    background-image: url(../images/background.jpg) !important;
    background-color: var(--bg-color);
}

ol, ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.content {
    padding: 1.5rem;
}

.pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;


}
.pokemon-list li {
    margin: .5rem;
    padding: 1rem;


}